.chart{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    margin-bottom: 30px;
}

.custom-dashboard {
    display: 'flex';
    justify-content: 'Center'; 
    align-items: 'Right'; 
    width: '78.6%';
    float: 'right';
    padding-top: '50px';
    margin-top: '150px' !important;
}

h4 {
    text-align: center;
}